@import url(./themes.css);
.nav {
    display: flex;
    background-color: var(--tiles);
    border: none;
    border-radius: 2rem;
    color: var(--text);
    width: max(15%,10rem);
    font-family: 'Poppins', sans-serif;
    padding: 2%;
}

.segments {
    display: flex;
    flex-direction: column;
    gap:max(10px,1%);
    width:100%;
}

.element {
    display: flex;
    gap:1rem;
    font-size: 1.4rem;
    padding-left:10px;
    border-radius: 0.5rem;
    transition: background 0.5s;
    cursor:pointer;
}

.element:hover,.element.selected {
    background-color: var(--select);
    border-left: 2px solid var(--accent);
}

