@import url(./themes.css);



.tray {
    display: flex;
    flex-direction: column;
    background-color: var(--tiles);
    border: none;
    border-radius: 2rem;
    color: var(--text);
    width: 75%;
    min-width: 400px;
    font-family: 'Poppins', sans-serif;
    padding: 2%;
    overflow-y: auto;
    gap:0.5rem;
}

.todo {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--todo);
    border-radius: 1rem;
    height: 1rem;
    align-items: center;
    padding: 0.5rem;
    transition: background 0.5s;
}


.check-box {
  height: 1.2rem;
  width: 1.2rem;
  background-color: var(--check);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.5s;
}
.check-box:hover {
    background-color: var(--primary);
}

.left-half,.right-half {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.due-date {
    color:var(--primary);
}

.project-name {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.493);
}

.bin {
    color: var(--text);
    transition: color 0.5s;
}

.bin:hover {
    color: var(--secondary);
}

.todo-star {
    color:gold;
}

.priority {
    font-size: 1rem;
}

.priority.low {
    color: green;
}

.priority.medium {
    color: yellow;
}

.priority.high {
    color: red;
}